@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Desktop View*/
.header {
  background-color: #f9e373;
  justify-content: space-between;
  /*height: 120px;*/
  box-shadow: 2px wit2px rgb(66, 66, 66);
}

Link {
  width: 7 em;
}

a {
  text-decoration: none;
  color: black;
  font-family: Roboto, sans-serif;
}

.header-top {
  display: flex;
  justify-content: space-between;
}
.header-bottom {
  display: flex;
  justify-content: center;
}
.logo-container {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 45px;
  height: 45px;
}
.dispoLogo {
  display: flex;
}

.logo-marguerite {
  height: 80px;
  width: 200px;
}

.logo-voiture {
  height: 50px;
  width: 80px;
  display: none;
}

.logo-profil {
  width: 60px;
  height: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.nav-options {
  padding-left: 25px;
  display: flex;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}

.option :hover {
  color: rgb(73, 73, 73);
}

.mobile-menu {
  display: block;
}
@media (max-width: 648px) {
  /*Mobile View */

  ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    width: 45px;
    height: 45px;
  }
  .logo-voiture {
    display: flex;
    height: 50px;
    width: 80px;
    align-items: center;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 120px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: #fdf6d3;
    left: 0;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.21, 0.07, 0.71, 0.54);
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    margin: 0;
    height: 500px;
    align-items: center;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .mobile-menu {
    display: block;
  }
}
