/*Desktop View*/
.header {
  display: flex;
  background-color: #f9e373;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 120px;
  box-shadow: 2px 2px rgb(66, 66, 66);
  flex-wrap: wrap;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 45px;
  height: 45px;
}

.logo-marguerite {
  display: flex;
  height: 100px;
  width: 200px;
  justify-content: center;
}

.logo-voiture {
  display: flex;
  height: 50px;
  width: 80px;
  align-items: center;
  margin-left: -20px;
  margin-bottom: 70px;
}

.logo-profil {
  display: flex;
  width: 70px;
  height: 40px;
  margin-bottom: 50px;
  margin-left: 40px;
}

.nav-options {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}
.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}

.mobile-menu {
  margin-bottom: 70px;
}
@media (max-width: 648px) {
  /*Mobile View */

  .header {
    padding: 0px 10px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 120px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: #fdf6d3;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    margin: 0;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .mobile-menu {
    display: block;
  }
}
