@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fdf6d3;
  display: flex;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
}

#form {
  width: 100%;
  height: 3em;
  margin-bottom: 1em;
  border: none;
}

#form-diff-citynumber {
  width: 10em;
  height: 3em;
  margin-bottom: 1em;
  margin-right: 25px;
  border: none;
}

#form-diff-city {
  width: 11em;
  height: 3em;
  border: none;
  padding: 0;
  margin-right: -4px;
}

#center {
  display: flex;
  flex-direction: column;
}

.titre {
  margin: 1em;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  display: flex;
  justify-content: flex-end;
}
.cross {
  max-width: 5%;
}

span {
  color: #f95c0d;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.form-check-label {
  display: flex;
  width: 5em;
}

button {
  background-color: white;
}


/* ****************** DESKTOP ******************* */

@media screen and (min-width: 500px) {
  #center {
    width: 100%;
  }
  .cross {
    max-width: 2%;
    display: none;
  }
}
