@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
  width: 100%;
  height: 20em;
  background-color: #fdf6d3;
  display: flex;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#form {
  width: 9em;
  margin-bottom: 1em;
  border-radius: 5px;
}

#center {
  display: flex;
  flex-direction: column;
}

.titre {
  margin: 1em;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#cross {
  max-width: 5%;
}

span {
  color: #f95c0d;
}

@media screen and (min-width: 500px) {
  #center {
    width: 100%;
  }
  #cross {
    max-width: 2%;
  }
}
